<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <th:block th:include="~{fragments/guest-nav}"/>
        </header>
        <main id="mainLog">
            <h1> Login </h1>
            <div class="main-agileinfo">
                <div class="agileits-top">
                    <form action="#" method="post" th:action="@{/login}">
                        <input class="text" type="text" name="username" placeholder="Username" required="">
                        <input class="text" type="password" name="password" placeholder="Password" required="">
                        <input type="submit" value="Login">
                    </form>
                    <p>Don't have an Account? <a th:href="@{/register}"> Register Now!</a></p>
                </div>
            </div>
        </main>
        <footer class="footer">
            <th:block th:include="~{fragments/footer}"/>
        </footer>
</div>     
</body>
</html>