<th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid text-md-left  text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3"
                 style="margin-left: 200px; color: white; font-family: 'Times New Roman', Times, serif;">
                <h3 style=>Contacts</h3>
                <p>Nikolay Baltadzhiev</p>
                <p>phone number: 0898652575</p>
                <p>email: nikolaybaltadzhiev@gmail.com</p>
            </div>
            <div class="partners"
                 style="color: white; font-family: 'Times New Roman', Times, serif; margin-left: 500px;">
                <h3>Partners</h3>
                <p> Our partners are a lot of hipermarkets which give you the opportunity to park on their private
                    parkings between 10pm and 10am every day.
                </p>
                <div id="more">
                    <a th:href="@{/about}">More information</a>
                </div>
            </div>
        </div>
    </div>
</th:block>