<th:block th:fragment xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-top">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-4">
                            <div class="logo">
                                <h2><a th:href="@{/}">Rent a Garage</a></h2>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <div class="menu">
                                <ul class="nav navbar-nav">
                                    <li><a th:href="@{/about}">ABOUT</a></li>
                                    <li><a th:href="@{/login}">LOGIN</a></li>
                                    <li><a th:href="@{/register}">REGISTER</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>