#table1{
    top:270px; position:absolute;
    color: #fff;
    font-family:  'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    left: 280px;
}

#table2{
    top:270px; position:absolute;
    color: #fff;
    font-family:  'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    left: 860px;
}

#table4{
  top:270px; position:absolute;
  color: #fff;
  font-family:  'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  left: 450px;
}
#table5{
  top:70px; position:absolute;
  color: #fff;
  font-family:  'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  height: 100px;
  left: 320px;
}



#table3{
  top:150px; position:absolute;
  color: #fff;
  font-family:  'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  left: 1020px;
}


table {
    width: 100%;
    background-color: #fff;
  }
  
  th, td {
    font-weight: unset;
    padding-right: 10px;
  }
  
  .column100 {
    width: 130px;
    padding-left: 40px;
  }
  
  .column100.column1 {
    width: 100px;
    padding-left: 20px;
  }
  
  .row100.head th {
    padding-top: 24px;
    padding-bottom: 20px;
  }
  
  .row100 td {
    padding-top: 18px;
    padding-bottom: 14px;
  }
  
  
  

  .table100.ver2 td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #41a4c2;
    line-height: 1.4;
  }
  
  .table100.ver2 th {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
  
    background-color: #333333;
  }
  
  .table100.ver2 .row100:hover td {
    background-color: #41a4c2;
    color: #fff;
  }
  
  .table100.ver2 .hov-column-ver2 {
    background-color: #41a4c2;
    color: #fff;
  }
  
  .table100.ver2 .hov-column-head-ver2 {
    background-color: #484848 !important;
  }
  
  .table100.ver2 .row100 td:hover {
    background-color: #41a4c2;
    color: #fff;
  }
  
  /*==================================================================
  [ Ver2 ]*/
  .table100.ver2 tbody tr:nth-child(even) {
      background-color: #41a4c2;

  }
  
  .table100.ver2 td {
    font-family: Montserrat-Regular;
    font-size: 14px;
    padding-left: 12px;
    color: #808080;
    line-height: 1.4;
  }
  
  .table100.ver2 th {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #333333;
  }
  
  .table100.ver2 .row100:hover td {
    background-color: #41a4c2;
    color: #fff;
  }
  
  .table100.ver2 .hov-column-ver2 {
    background-color: #41a4c2;
    color: #fff;
  }
  
  .table100.ver2 .hov-column-head-ver2 {
    background-color: #484848 !important;
  }
  
  .table100.ver2 .row100 td:hover {
    background-color: #41a4c2;
    color: #fff;
  }












