<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <th:block th:include="~{fragments/guest-nav}"/>
    </header>
    <main id="about">
        <h1 style="text-align: center"> Welcome to Rent a Garage</h1>
        <br>
        <br>
        <h2 style="text-align: center; color: #41a4c2;">The future of the transport in the big cities. </h2>
        <p>With us, you can easily find a place to park, furthermore you can increase your incomes when you do not use
            your garage. </p>
        <p style="text-align: center">The only thing you have to do is to register. You can add as many garages as you
            want. </p>
        <p style="text-align: center">You have to add your car before borrow a garage, because that is the only way we
            can guarantee its safety</p>
        <p></p>
        <p></p>
    </main>
    <footer class="footer">
        <th:block th:include="~{fragments/footer}"/>
    </footer>
</div>
</body>
</html>